[defaults]
inventory = inventory/hosts.yml
remote_user = lance
private_key_file = ~/.ssh/homelab_ed25519
ask_pass = false
host_key_checking = false

[privilege_escalation]
become = true
become_method = sudo
become_exe = sudo.ws
